
/GreatDevelop 1.x.x.opensdf
/GreatDevelop 1.x.x.sdf
/Debug
/ipch
/GreatDevelop 1.x.x/Log
/GreatDevelop 1.x.x/Configs/RMST/ConsoleLogs
/GS_CS
/GS
/GreatDevelop 1.x.x.suo
/GreatDevelop 1.x.x/Configs/GreatDevelop/ConsoleLogs
/include
/GreatDevelop 1.x.x/resource.aps
/GreatDevelop 1.x.x/GreatDevelop 1.x.x.vcxproj.user